In [1]:
!pip install catboost

Requirement already satisfied: catboost in c:\programdata\anaconda3\lib\site-packages (0.24.1)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.4.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.12.0)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from catboost) (3.0.2)
Requirement already satisfied: pandas>=0.24.0 in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.1.2)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (from catboost) (4.10.0)
Requirement already satisfied: numpy>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.18.3)
Requirement already satisfied: graphviz in c:\programdata\anaconda3\lib\site-packages (from catboost) (0.14.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (2.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (2.7.5)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2018.7)
Requirement already satisfied: retrying>=1.3.3 in c:\programdata\anaconda3\lib\site-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (46.1.3)

In [2]:
import os
from copy import deepcopy
from typing import List, Tuple

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import probplot

import catboost as cb
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, KFold

In [3]:
train = pd.read_csv("hw_data/assignment_train.csv")
test = pd.read_csv("hw_data/assignment_test.csv")
train.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Основное задание

Даны выборки для обучения и для тестирования. Задание заключается в том, чтобы попробовать разные способы валидации, проанализировать плюсы / минусы каждой и сделать выводы о том, какой способ валидации наиболее устойчивый в данной задаче.


##  Hold-Out валидация на 2 выборки

__Задание 1:__ сделать Hold-Out валидацию с разбиением, размер которого будет адеквтаным, по вашему мнению; разбиение проводить по id-транзакции (`TransactionID`), обучать модель градиетного бустинга любой реализации с подбором числа деревьев по early_stopping критерию до достижения сходимости. Оценить качество модели на тестовой выборке, оценить расхождение по сравнению с качеством на обучающей выборке и тестовой выборке.

train -> x_train / x_valid / x_test
# test - имитация public LB -> public_lb

In [4]:
def fit_catboost(x_train, y_train, model_params, categorical, *args):
    """
    Обучение модели CatBoostClassifier.

    Parameters
    ----------
    x_train: pandas.core.frame.DataFrame
        Матрица признаков для обучения модели.

    y_valid: pandas.core.frame.Series
        Вектор целевой переменной для валидации модели.

    model_params: dict
        Словарь со значением гиперпараметров модели.

    categorical: List[str]
        Список с названием категориальных признаков.

    Returns
    -------
    model: catboost.core.CatBoostClassifier
        Экземпляр обученного классификатора.

    """
    eval_set = [(x_train, y_train)]

    if args == 2:
        eval_set.append((args[0], args[1]))

    model = cb.CatBoostClassifier(**model_params)
    model.fit(
        X=x_train,
        y=y_train,
        eval_set=eval_set,
        cat_features=categorical
    )

    return model

def evaluate_model(model, *args):
    """
    Оценка качества модели.

    Parameters
    ----------
    model: catboost.core.CatBoostClassifier
        Экземпляр обученного классификатора.

    args: pandas.core.frame.DataFrame
        Пары из обучающей выборки и вектора истинных ответов.
        Опциональные параметры.

    """
    eval_data = [(args[i], args[i+1]) for i in range(0, len(args), 2)]
    if eval_data:
        for sample, target in eval_data:
            y_pred = model.predict_proba(sample)[:, 1]
            score = roc_auc_score(target, y_pred)
            print(f"score = {round(score, 6)}")

def prepare_data(X, categorical, to_drop):
    """
    Преобразование данных для передачи в модель.

    Parameters
    ----------
    X: pandas.core.frame.DataFrame
        Матрица признаков для передачи в модель.

    categorical: List[str]
        Список с названием категориальных признаков.

    drop_features: List[str]
        Список с названием признаков, которые не должны
        участвовать в обучении.

    Returns
    -------
    X_transformed: pandas.core.frame.DataFrame
        Матрица признаков, подготовленная для передачи в модель.

    """
    X_transformed = X.copy()
    to_drop = set(X.columns) & set(to_drop)

    if to_drop:
        X_transformed = X_transformed.drop(to_drop, axis=1)

    X_transformed[categorical] = X_transformed[categorical].astype(str)
    return X_transformed

In [5]:
to_drop = [
    "TransactionID",
    "TransactionDT",
    "isFraud",
]

categorical = train.select_dtypes(include=["object"]).columns.tolist()

In [6]:
x_train, x_valid = train_test_split(
    train, train_size=0.7, random_state=27, shuffle=True
)
y_train, y_valid = train_test_split(
    train["isFraud"], train_size=0.7, random_state=27, shuffle=True
)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [7]:
x_train = prepare_data(x_train, categorical=categorical, to_drop=to_drop)
x_valid = prepare_data(x_valid, categorical=categorical, to_drop=to_drop)
x_public_lb = prepare_data(test, categorical=categorical, to_drop=to_drop)

print("x_train.shape = {} rows, {} cols".format(*x_train.shape))
print("x_valid.shape = {} rows, {} cols".format(*x_valid.shape))
print("x_test.shape = {} rows, {} cols".format(*x_public_lb.shape))

x_train.shape = 35000 rows, 391 cols
x_valid.shape = 15001 rows, 391 cols
x_test.shape = 75000 rows, 391 cols

In [8]:
cb_params_1000 = {
    "n_estimators": 1000,
    "learning_rate": 0.01,
    "loss_function": "Logloss",
    "eval_metric": "AUC",
    "task_type": "CPU",
    "max_bin": 20,
    "verbose": 10,
    "max_depth": 6,
    "l2_leaf_reg": 100,
    "early_stopping_rounds": 50,
    "thread_count": 6,
    "random_seed": 27
}

model = fit_catboost(
    x_train, y_train, cb_params_1000, categorical, x_valid, y_valid)

0:	test: 0.6253433	best: 0.6253433 (0)	total: 357ms	remaining: 5m 57s
10:	test: 0.7847311	best: 0.7847311 (10)	total: 1.49s	remaining: 2m 14s
20:	test: 0.7994185	best: 0.8016245 (19)	total: 2.62s	remaining: 2m 2s
30:	test: 0.7988680	best: 0.8016245 (19)	total: 3.78s	remaining: 1m 58s
40:	test: 0.8046661	best: 0.8047039 (39)	total: 4.87s	remaining: 1m 53s
50:	test: 0.8127584	best: 0.8128247 (49)	total: 6.08s	remaining: 1m 53s
60:	test: 0.8159951	best: 0.8163395 (58)	total: 7.24s	remaining: 1m 51s
70:	test: 0.8209795	best: 0.8209795 (70)	total: 8.39s	remaining: 1m 49s
80:	test: 0.8249503	best: 0.8250362 (75)	total: 9.56s	remaining: 1m 48s
90:	test: 0.8261782	best: 0.8267259 (88)	total: 10.6s	remaining: 1m 46s
100:	test: 0.8324016	best: 0.8325887 (99)	total: 11.7s	remaining: 1m 44s
110:	test: 0.8349103	best: 0.8349103 (110)	total: 12.8s	remaining: 1m 42s
120:	test: 0.8399842	best: 0.8403415 (116)	total: 14s	remaining: 1m 41s
130:	test: 0.8434055	best: 0.8434055 (130)	total: 15.1s	remaining: 1m 39s
140:	test: 0.8485145	best: 0.8485145 (140)	total: 16.2s	remaining: 1m 38s
150:	test: 0.8533098	best: 0.8533098 (150)	total: 17.3s	remaining: 1m 37s
160:	test: 0.8556993	best: 0.8556993 (160)	total: 20.7s	remaining: 1m 48s
170:	test: 0.8586081	best: 0.8586081 (170)	total: 25.2s	remaining: 2m 2s
180:	test: 0.8612567	best: 0.8612567 (180)	total: 28.2s	remaining: 2m 7s
190:	test: 0.8628218	best: 0.8628218 (190)	total: 29.3s	remaining: 2m 4s
200:	test: 0.8637030	best: 0.8637030 (200)	total: 30.4s	remaining: 2m 1s
210:	test: 0.8640783	best: 0.8640783 (210)	total: 31.5s	remaining: 1m 57s
220:	test: 0.8649593	best: 0.8650831 (218)	total: 32.6s	remaining: 1m 55s
230:	test: 0.8656207	best: 0.8656207 (230)	total: 33.8s	remaining: 1m 52s
240:	test: 0.8665543	best: 0.8665543 (240)	total: 34.9s	remaining: 1m 49s
250:	test: 0.8669008	best: 0.8669309 (245)	total: 36s	remaining: 1m 47s
260:	test: 0.8675933	best: 0.8675933 (260)	total: 37.1s	remaining: 1m 44s
270:	test: 0.8681226	best: 0.8681336 (268)	total: 38.2s	remaining: 1m 42s
280:	test: 0.8686029	best: 0.8686274 (279)	total: 39.4s	remaining: 1m 40s
290:	test: 0.8695733	best: 0.8695733 (290)	total: 40.5s	remaining: 1m 38s
300:	test: 0.8699066	best: 0.8699066 (300)	total: 41.6s	remaining: 1m 36s
310:	test: 0.8700496	best: 0.8700581 (307)	total: 42.7s	remaining: 1m 34s
320:	test: 0.8702914	best: 0.8703052 (319)	total: 43.8s	remaining: 1m 32s
330:	test: 0.8710018	best: 0.8710018 (330)	total: 44.9s	remaining: 1m 30s
340:	test: 0.8715289	best: 0.8715393 (339)	total: 46s	remaining: 1m 28s
350:	test: 0.8719592	best: 0.8719592 (350)	total: 47.1s	remaining: 1m 27s
360:	test: 0.8726189	best: 0.8726189 (360)	total: 48.2s	remaining: 1m 25s
370:	test: 0.8734547	best: 0.8734547 (370)	total: 49.4s	remaining: 1m 23s
380:	test: 0.8743294	best: 0.8743294 (380)	total: 50.5s	remaining: 1m 22s
390:	test: 0.8744345	best: 0.8744358 (389)	total: 51.7s	remaining: 1m 20s
400:	test: 0.8751426	best: 0.8751426 (400)	total: 53.6s	remaining: 1m 20s
410:	test: 0.8757495	best: 0.8757495 (410)	total: 58.2s	remaining: 1m 23s
420:	test: 0.8768203	best: 0.8768203 (420)	total: 1m 2s	remaining: 1m 26s
430:	test: 0.8777144	best: 0.8777144 (430)	total: 1m 3s	remaining: 1m 24s
440:	test: 0.8782755	best: 0.8782755 (440)	total: 1m 4s	remaining: 1m 22s
450:	test: 0.8788971	best: 0.8788971 (450)	total: 1m 5s	remaining: 1m 20s
460:	test: 0.8796073	best: 0.8796073 (460)	total: 1m 7s	remaining: 1m 18s
470:	test: 0.8801827	best: 0.8801827 (470)	total: 1m 8s	remaining: 1m 16s
480:	test: 0.8803779	best: 0.8803779 (480)	total: 1m 9s	remaining: 1m 14s
490:	test: 0.8808130	best: 0.8808130 (490)	total: 1m 10s	remaining: 1m 13s
500:	test: 0.8812043	best: 0.8812043 (500)	total: 1m 11s	remaining: 1m 11s
510:	test: 0.8815230	best: 0.8815230 (510)	total: 1m 13s	remaining: 1m 10s
520:	test: 0.8820186	best: 0.8820186 (520)	total: 1m 17s	remaining: 1m 11s
530:	test: 0.8823218	best: 0.8823218 (530)	total: 1m 22s	remaining: 1m 12s
540:	test: 0.8827213	best: 0.8827213 (540)	total: 1m 23s	remaining: 1m 10s
550:	test: 0.8833803	best: 0.8833803 (550)	total: 1m 24s	remaining: 1m 9s
560:	test: 0.8836128	best: 0.8836128 (560)	total: 1m 25s	remaining: 1m 7s
570:	test: 0.8837916	best: 0.8837916 (570)	total: 1m 26s	remaining: 1m 5s
580:	test: 0.8842161	best: 0.8842161 (580)	total: 1m 28s	remaining: 1m 3s
590:	test: 0.8848400	best: 0.8848400 (590)	total: 1m 29s	remaining: 1m 1s
600:	test: 0.8851121	best: 0.8851121 (600)	total: 1m 30s	remaining: 59.9s
610:	test: 0.8853481	best: 0.8853481 (610)	total: 1m 31s	remaining: 58.1s
620:	test: 0.8857116	best: 0.8857116 (620)	total: 1m 32s	remaining: 56.4s
630:	test: 0.8858982	best: 0.8858982 (630)	total: 1m 33s	remaining: 54.7s
640:	test: 0.8861143	best: 0.8861143 (640)	total: 1m 34s	remaining: 53s
650:	test: 0.8863076	best: 0.8863076 (650)	total: 1m 35s	remaining: 51.3s
660:	test: 0.8865394	best: 0.8865394 (660)	total: 1m 36s	remaining: 49.6s
670:	test: 0.8868625	best: 0.8868625 (670)	total: 1m 37s	remaining: 48s
680:	test: 0.8872492	best: 0.8872492 (680)	total: 1m 39s	remaining: 46.5s
690:	test: 0.8875551	best: 0.8875551 (690)	total: 1m 40s	remaining: 44.9s
700:	test: 0.8879240	best: 0.8879240 (700)	total: 1m 41s	remaining: 43.4s
710:	test: 0.8880647	best: 0.8880647 (710)	total: 1m 42s	remaining: 41.8s
720:	test: 0.8883907	best: 0.8883907 (720)	total: 1m 43s	remaining: 40.2s
730:	test: 0.8885470	best: 0.8885470 (730)	total: 1m 45s	remaining: 38.7s
740:	test: 0.8886819	best: 0.8886819 (740)	total: 1m 46s	remaining: 37.1s
750:	test: 0.8887942	best: 0.8887942 (750)	total: 1m 47s	remaining: 35.6s
760:	test: 0.8891797	best: 0.8891797 (760)	total: 1m 48s	remaining: 34s
770:	test: 0.8893809	best: 0.8893809 (770)	total: 1m 49s	remaining: 32.5s
780:	test: 0.8897070	best: 0.8897070 (780)	total: 1m 50s	remaining: 31s
790:	test: 0.8903321	best: 0.8903321 (790)	total: 1m 51s	remaining: 29.5s
800:	test: 0.8907372	best: 0.8907372 (800)	total: 1m 52s	remaining: 28s
810:	test: 0.8910536	best: 0.8910536 (810)	total: 1m 53s	remaining: 26.5s
820:	test: 0.8913597	best: 0.8913597 (820)	total: 1m 55s	remaining: 25.2s
830:	test: 0.8917853	best: 0.8917853 (830)	total: 1m 59s	remaining: 24.4s
840:	test: 0.8921862	best: 0.8921862 (840)	total: 2m 4s	remaining: 23.5s
850:	test: 0.8927325	best: 0.8927325 (850)	total: 2m 5s	remaining: 22s
860:	test: 0.8929639	best: 0.8929639 (860)	total: 2m 6s	remaining: 20.5s
870:	test: 0.8932501	best: 0.8932501 (870)	total: 2m 8s	remaining: 19s
880:	test: 0.8937970	best: 0.8937970 (880)	total: 2m 9s	remaining: 17.4s
890:	test: 0.8939846	best: 0.8939846 (890)	total: 2m 10s	remaining: 15.9s
900:	test: 0.8943498	best: 0.8943498 (900)	total: 2m 11s	remaining: 14.4s
910:	test: 0.8946045	best: 0.8946045 (910)	total: 2m 12s	remaining: 12.9s
920:	test: 0.8948451	best: 0.8948451 (920)	total: 2m 13s	remaining: 11.5s
930:	test: 0.8950493	best: 0.8950493 (930)	total: 2m 14s	remaining: 9.98s
940:	test: 0.8953251	best: 0.8953251 (940)	total: 2m 15s	remaining: 8.51s
950:	test: 0.8954146	best: 0.8954146 (950)	total: 2m 16s	remaining: 7.05s
960:	test: 0.8954266	best: 0.8954284 (958)	total: 2m 17s	remaining: 5.6s
970:	test: 0.8957263	best: 0.8957263 (970)	total: 2m 19s	remaining: 4.15s
980:	test: 0.8958167	best: 0.8958167 (980)	total: 2m 20s	remaining: 2.71s
990:	test: 0.8960066	best: 0.8960066 (990)	total: 2m 21s	remaining: 1.28s
999:	test: 0.8964120	best: 0.8964120 (999)	total: 2m 22s	remaining: 0us

bestTest = 0.8964120336
bestIteration = 999

In [9]:
evaluate_model(model, x_train, y_train, x_valid, y_valid, x_public_lb, test["isFraud"])

score = 0.896412
score = 0.868581
score = 0.865602

Задание 1: признак TransactionDT - это смещение в секундах относительно базовой даты. Базовая дата - 2017-12-01, преобразовать признак TransactionDT в datetime, прибавив к базовой дате исходное значение признака. Из полученного признака выделить год, месяц, день недели, час, день.

In [10]:
from datetime import datetime, timedelta

data = train

start_date = datetime(2017, 12, 1)

data["TransactionDateTime"] = data["TransactionDT"].apply(lambda x: timedelta(seconds=x) + start_date)
data["year"] = data["TransactionDateTime"].dt.year
data["month_of_year"] = data["TransactionDateTime"].dt.month
data["day_of_week"] = data["TransactionDateTime"].dt.weekday
data["day"] = data["TransactionDateTime"].dt.day
data["hour"] = data["TransactionDateTime"].dt.hour

data.head(n=2)

data = test

start_date = datetime(2017, 12, 1)

data["TransactionDateTime"] = data["TransactionDT"].apply(lambda x: timedelta(seconds=x) + start_date)
data["year"] = data["TransactionDateTime"].dt.year
data["month_of_year"] = data["TransactionDateTime"].dt.month
data["day_of_week"] = data["TransactionDateTime"].dt.weekday
data["day"] = data["TransactionDateTime"].dt.day
data["hour"] = data["TransactionDateTime"].dt.hour
data.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V336,V337,V338,V339,TransactionDateTime,year,month_of_year,day_of_week,day,hour
0,3062000,0,1643492,41.0,W,9500,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,2017-12-20 00:31:32,2017,12,2,20,0
1,3062001,1,1643513,161.0,W,6668,390.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,2017-12-20 00:31:53,2017,12,2,20,0

In [11]:
x_train, x_valid = train_test_split(
    train, train_size=0.7, random_state=27, shuffle=True
)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [12]:
x_train = prepare_data(x_train, categorical=categorical, to_drop=to_drop)
x_valid = prepare_data(x_valid, categorical=categorical, to_drop=to_drop)
x_public_lb = prepare_data(test, categorical=categorical, to_drop=to_drop)

print("x_train.shape = {} rows, {} cols".format(*x_train.shape))
print("x_valid.shape = {} rows, {} cols".format(*x_valid.shape))
print("x_test.shape = {} rows, {} cols".format(*x_public_lb.shape))

x_train.shape = 35000 rows, 397 cols
x_valid.shape = 15001 rows, 397 cols
x_test.shape = 75000 rows, 397 cols

In [13]:
cb_params_1000 = {
    "n_estimators": 1000,
    "learning_rate": 0.01,
    "loss_function": "Logloss",
    "eval_metric": "AUC",
    "task_type": "CPU",
    "max_bin": 20,
    "verbose": 10,
    "max_depth": 6,
    "l2_leaf_reg": 100,
    "early_stopping_rounds": 50,
    "thread_count": 6,
    "random_seed": 27
}


model = fit_catboost(
    x_train, y_train, cb_params_1000, categorical, x_valid, y_valid)

0:	test: 0.6731757	best: 0.6731757 (0)	total: 119ms	remaining: 1m 58s
10:	test: 0.8001497	best: 0.8017052 (7)	total: 1.25s	remaining: 1m 52s
20:	test: 0.8022797	best: 0.8025527 (16)	total: 2.32s	remaining: 1m 48s
30:	test: 0.8025375	best: 0.8042660 (25)	total: 3.4s	remaining: 1m 46s
40:	test: 0.8094565	best: 0.8094565 (40)	total: 4.46s	remaining: 1m 44s
50:	test: 0.8112428	best: 0.8114043 (49)	total: 5.53s	remaining: 1m 42s
60:	test: 0.8114176	best: 0.8124757 (55)	total: 6.61s	remaining: 1m 41s
70:	test: 0.8163746	best: 0.8163746 (70)	total: 7.69s	remaining: 1m 40s
80:	test: 0.8202837	best: 0.8202837 (80)	total: 8.73s	remaining: 1m 39s
90:	test: 0.8278992	best: 0.8278992 (90)	total: 9.82s	remaining: 1m 38s
100:	test: 0.8339391	best: 0.8340826 (98)	total: 10.9s	remaining: 1m 36s
110:	test: 0.8414247	best: 0.8414247 (110)	total: 12s	remaining: 1m 35s
120:	test: 0.8461018	best: 0.8461018 (120)	total: 13.1s	remaining: 1m 34s
130:	test: 0.8520714	best: 0.8520714 (130)	total: 14.2s	remaining: 1m 33s
140:	test: 0.8539794	best: 0.8540125 (139)	total: 15.3s	remaining: 1m 32s
150:	test: 0.8571474	best: 0.8571474 (150)	total: 16.4s	remaining: 1m 31s
160:	test: 0.8598584	best: 0.8598584 (160)	total: 17.5s	remaining: 1m 31s
170:	test: 0.8612198	best: 0.8612198 (170)	total: 18.6s	remaining: 1m 30s
180:	test: 0.8624384	best: 0.8624384 (180)	total: 19.7s	remaining: 1m 29s
190:	test: 0.8633822	best: 0.8633822 (190)	total: 20.7s	remaining: 1m 27s
200:	test: 0.8647758	best: 0.8647758 (200)	total: 21.9s	remaining: 1m 26s
210:	test: 0.8653668	best: 0.8653668 (210)	total: 23.1s	remaining: 1m 26s
220:	test: 0.8658232	best: 0.8659818 (217)	total: 24.2s	remaining: 1m 25s
230:	test: 0.8665178	best: 0.8665612 (229)	total: 25.4s	remaining: 1m 24s
240:	test: 0.8675727	best: 0.8675727 (240)	total: 26.6s	remaining: 1m 23s
250:	test: 0.8679280	best: 0.8679280 (250)	total: 27.8s	remaining: 1m 22s
260:	test: 0.8691335	best: 0.8691335 (260)	total: 29s	remaining: 1m 21s
270:	test: 0.8694595	best: 0.8694595 (270)	total: 30.3s	remaining: 1m 21s
280:	test: 0.8697613	best: 0.8697613 (280)	total: 34.6s	remaining: 1m 28s
290:	test: 0.8704300	best: 0.8704300 (290)	total: 39.1s	remaining: 1m 35s
300:	test: 0.8710541	best: 0.8710541 (300)	total: 40.9s	remaining: 1m 35s
310:	test: 0.8715606	best: 0.8715606 (310)	total: 42.1s	remaining: 1m 33s
320:	test: 0.8719052	best: 0.8719052 (320)	total: 43.2s	remaining: 1m 31s
330:	test: 0.8720581	best: 0.8720889 (328)	total: 44.3s	remaining: 1m 29s
340:	test: 0.8726464	best: 0.8726464 (340)	total: 45.4s	remaining: 1m 27s
350:	test: 0.8728220	best: 0.8728220 (350)	total: 46.5s	remaining: 1m 25s
360:	test: 0.8733287	best: 0.8733287 (360)	total: 47.7s	remaining: 1m 24s
370:	test: 0.8739522	best: 0.8739522 (370)	total: 48.8s	remaining: 1m 22s
380:	test: 0.8745089	best: 0.8745089 (380)	total: 49.9s	remaining: 1m 20s
390:	test: 0.8748378	best: 0.8748378 (390)	total: 50.9s	remaining: 1m 19s
400:	test: 0.8750635	best: 0.8750635 (400)	total: 52s	remaining: 1m 17s
410:	test: 0.8755634	best: 0.8755634 (410)	total: 53.2s	remaining: 1m 16s
420:	test: 0.8762996	best: 0.8762996 (420)	total: 54.3s	remaining: 1m 14s
430:	test: 0.8770570	best: 0.8770570 (430)	total: 55.4s	remaining: 1m 13s
440:	test: 0.8773482	best: 0.8773484 (439)	total: 56.5s	remaining: 1m 11s
450:	test: 0.8776816	best: 0.8776816 (450)	total: 57.6s	remaining: 1m 10s
460:	test: 0.8779707	best: 0.8779707 (460)	total: 58.7s	remaining: 1m 8s
470:	test: 0.8784270	best: 0.8784270 (470)	total: 59.8s	remaining: 1m 7s
480:	test: 0.8789499	best: 0.8789499 (480)	total: 1m	remaining: 1m 5s
490:	test: 0.8793214	best: 0.8793214 (490)	total: 1m 2s	remaining: 1m 4s
500:	test: 0.8799190	best: 0.8799190 (500)	total: 1m 3s	remaining: 1m 2s
510:	test: 0.8802446	best: 0.8802446 (510)	total: 1m 4s	remaining: 1m 1s
520:	test: 0.8809954	best: 0.8809954 (520)	total: 1m 5s	remaining: 1m
530:	test: 0.8816954	best: 0.8816973 (529)	total: 1m 6s	remaining: 58.7s
540:	test: 0.8820531	best: 0.8820531 (540)	total: 1m 7s	remaining: 57.3s
550:	test: 0.8824653	best: 0.8824653 (550)	total: 1m 8s	remaining: 55.9s
560:	test: 0.8828566	best: 0.8828566 (560)	total: 1m 9s	remaining: 54.5s
570:	test: 0.8831233	best: 0.8831233 (570)	total: 1m 10s	remaining: 53.2s
580:	test: 0.8832519	best: 0.8832519 (580)	total: 1m 11s	remaining: 51.8s
590:	test: 0.8833746	best: 0.8833746 (590)	total: 1m 12s	remaining: 50.5s
600:	test: 0.8841234	best: 0.8841234 (600)	total: 1m 14s	remaining: 49.2s
610:	test: 0.8849799	best: 0.8849799 (610)	total: 1m 15s	remaining: 47.9s
620:	test: 0.8854619	best: 0.8854619 (620)	total: 1m 18s	remaining: 48.1s
630:	test: 0.8856829	best: 0.8856829 (630)	total: 1m 23s	remaining: 48.7s
640:	test: 0.8860925	best: 0.8860925 (640)	total: 1m 26s	remaining: 48.3s
650:	test: 0.8865520	best: 0.8865520 (650)	total: 1m 27s	remaining: 46.8s
660:	test: 0.8867754	best: 0.8867754 (660)	total: 1m 28s	remaining: 45.4s
670:	test: 0.8872820	best: 0.8872820 (670)	total: 1m 29s	remaining: 43.9s
680:	test: 0.8880055	best: 0.8880055 (680)	total: 1m 30s	remaining: 42.5s
690:	test: 0.8883540	best: 0.8883540 (690)	total: 1m 31s	remaining: 41.1s
700:	test: 0.8886380	best: 0.8886380 (700)	total: 1m 32s	remaining: 39.6s
710:	test: 0.8889823	best: 0.8889823 (710)	total: 1m 34s	remaining: 38.2s
720:	test: 0.8892718	best: 0.8892718 (720)	total: 1m 35s	remaining: 36.8s
730:	test: 0.8894500	best: 0.8894500 (730)	total: 1m 36s	remaining: 35.4s
740:	test: 0.8897250	best: 0.8897250 (740)	total: 1m 37s	remaining: 34s
750:	test: 0.8900911	best: 0.8900911 (750)	total: 1m 38s	remaining: 32.7s
760:	test: 0.8904241	best: 0.8904241 (760)	total: 1m 39s	remaining: 31.3s
770:	test: 0.8911641	best: 0.8911641 (770)	total: 1m 40s	remaining: 29.9s
780:	test: 0.8913607	best: 0.8913607 (780)	total: 1m 41s	remaining: 28.6s
790:	test: 0.8916355	best: 0.8916355 (790)	total: 1m 42s	remaining: 27.2s
800:	test: 0.8918502	best: 0.8918502 (800)	total: 1m 44s	remaining: 25.8s
810:	test: 0.8922326	best: 0.8922326 (810)	total: 1m 45s	remaining: 24.5s
820:	test: 0.8925727	best: 0.8925727 (820)	total: 1m 46s	remaining: 23.2s
830:	test: 0.8926855	best: 0.8926855 (830)	total: 1m 47s	remaining: 21.8s
840:	test: 0.8928027	best: 0.8928027 (840)	total: 1m 48s	remaining: 20.5s
850:	test: 0.8930589	best: 0.8930589 (850)	total: 1m 51s	remaining: 19.5s
860:	test: 0.8931848	best: 0.8931848 (860)	total: 1m 55s	remaining: 18.7s
870:	test: 0.8936427	best: 0.8936427 (870)	total: 1m 59s	remaining: 17.7s
880:	test: 0.8938183	best: 0.8938183 (880)	total: 2m	remaining: 16.3s
890:	test: 0.8941578	best: 0.8941578 (890)	total: 2m 1s	remaining: 14.9s
900:	test: 0.8943656	best: 0.8943656 (900)	total: 2m 2s	remaining: 13.5s
910:	test: 0.8947254	best: 0.8947254 (910)	total: 2m 4s	remaining: 12.1s
920:	test: 0.8948188	best: 0.8948188 (920)	total: 2m 5s	remaining: 10.8s
930:	test: 0.8951444	best: 0.8951444 (930)	total: 2m 9s	remaining: 9.6s
940:	test: 0.8952177	best: 0.8952177 (940)	total: 2m 14s	remaining: 8.4s
950:	test: 0.8955226	best: 0.8955226 (950)	total: 2m 16s	remaining: 7.02s
960:	test: 0.8955482	best: 0.8955482 (960)	total: 2m 17s	remaining: 5.57s
970:	test: 0.8958181	best: 0.8958181 (970)	total: 2m 18s	remaining: 4.14s
980:	test: 0.8960094	best: 0.8960094 (980)	total: 2m 19s	remaining: 2.7s
990:	test: 0.8962020	best: 0.8962067 (989)	total: 2m 20s	remaining: 1.28s
999:	test: 0.8962666	best: 0.8962666 (999)	total: 2m 21s	remaining: 0us

bestTest = 0.8962666471
bestIteration = 999

In [14]:
evaluate_model(model, x_train, y_train, x_valid, y_valid, x_public_lb, test["isFraud"])

score = 0.896267
score = 0.867839
score = 0.865789

Задание 2: сгруппировать данные по card1 и посчитать среднюю сумму транзакции. Добавить в качестве признака в набор данных. Посчитать разницу между суммой транзакцией пользователя и средней суммой транзакции по данному типу card1. Построить отношение этих признаков. Повторить процедуру для всех card.

In [15]:
data = train
data["card6"].head(n=3)

0    credit
1    credit
2     debit
Name: card6, dtype: object

In [16]:
from typing import List, Optional

def create_numerical_aggs(data: pd.DataFrame,
                          groupby_id: str,
                          aggs: dict,
                          prefix: Optional[str] = None,
                          suffix: Optional[str] = None,
                          ) -> pd.DataFrame:
    """
    Построение агрегаций для числовых признаков.

    Parameters
    ----------
    data: pandas.core.frame.DataFrame
        Выборка для построения агрегаций.

    groupby_id: str
        Название ключа, по которому нужно произвести группировку.

    aggs: dict
        Словарь с названием признака и списка функций.
        Ключ словаря - название признака, который используется для
        вычисления агрегаций, значение словаря - список с названием
        функций для вычисления агрегаций.

    prefix: str, optional, default = None
        Префикс для названия признаков.
        Опциональный параметр, по умолчанию, не используется.

    suffix: str, optional, default = None
        Суффикс для названия признаков.
        Опциональный параметр, по умолчанию, не используется.

    Returns
    -------
    stats: pandas.core.frame.DataFrame
        Выборка с рассчитанными агрегациями.

    """
    if not prefix:
        prefix = ""
    if not suffix:
        suffix = ""

    data_grouped = data.groupby(groupby_id)
    stats = data_grouped.agg(aggs)
    stats.columns = [f"{prefix}{feature}_{stat}{suffix}".upper() for feature, stat in stats]
    stats = stats.reset_index()

    return stats

In [17]:
aggs = {
    "TransactionAmt": [np.mean]
}

stats = create_numerical_aggs(
    data, groupby_id="card1", aggs=aggs, suffix="_BY_CARD1"
)
stats.head(n=2)

   card1  TRANSACTIONAMT_MEAN_BY_CARD1
0   1001                         183.0
1   1004                          90.0

In [18]:
data[data['card1'] == 1004]

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V336,V337,V338,V339,TransactionDateTime,year,month_of_year,day_of_week,day,hour
33767,3020767,0,842821,150.0,R,1004,583.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,2017-12-10 18:07:01,2017,12,6,10,18
41973,3028973,0,1022173,30.0,H,1004,583.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,2017-12-12 19:56:13,2017,12,1,12,19

In [19]:
data = data.merge(
    stats, how="left", on="card1"
)
data.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V337,V338,V339,TransactionDateTime,year,month_of_year,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,2017-12-02 00:00:00,2017,12,5,2,0,92.1250
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,2017-12-02 00:00:01,2017,12,5,2,0,274.0708

In [20]:
data["TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1"] = data["TransactionAmt"] / data["TRANSACTIONAMT_MEAN_BY_CARD1"]
data["DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1"] = data["TransactionAmt"] - data["TRANSACTIONAMT_MEAN_BY_CARD1"]
data.head(n=3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V339,TransactionDateTime,year,month_of_year,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,2017-12-02 00:00:00,2017,12,5,2,0,92.125000,0.743555,-23.625000
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,2017-12-02 00:00:01,2017,12,5,2,0,274.070800,0.105812,-245.070800
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,2017-12-02 00:01:09,2017,12,5,2,0,94.948551,0.621389,-35.948551

In [21]:
aggs = {
    "TransactionAmt": [np.mean]
}

stats = create_numerical_aggs(
    data, groupby_id="card4", aggs=aggs, suffix="_BY_CARD4"
)
stats

              card4  TRANSACTIONAMT_MEAN_BY_CARD4
0  american express                    167.022392
1          discover                    211.559924
2        mastercard                    124.734717
3              visa                    126.812814

In [22]:
data = data.merge(
    stats, how="left", on="card4"
)
data.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,TransactionDateTime,year,month_of_year,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,TRANSACTIONAMT_MEAN_BY_CARD4
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,2017-12-02 00:00:00,2017,12,5,2,0,92.1250,0.743555,-23.6250,211.559924
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,2017-12-02 00:00:01,2017,12,5,2,0,274.0708,0.105812,-245.0708,124.734717

In [23]:
data["TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4"] = data["TransactionAmt"] / data["TRANSACTIONAMT_MEAN_BY_CARD4"]
data["DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4"] = data["TransactionAmt"] - data["TRANSACTIONAMT_MEAN_BY_CARD4"]
data.head(n=3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,month_of_year,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,TRANSACTIONAMT_MEAN_BY_CARD4,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,12,5,2,0,92.125000,0.743555,-23.625000,211.559924,0.323785,-143.059924
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,12,5,2,0,274.070800,0.105812,-245.070800,124.734717,0.232493,-95.734717
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,12,5,2,0,94.948551,0.621389,-35.948551,126.812814,0.465253,-67.812814

In [24]:
stats = create_numerical_aggs(
    data, groupby_id="card6", aggs=aggs, suffix="_BY_CARD6"
)
stats

             card6  TRANSACTIONAMT_MEAN_BY_CARD6
0      charge card                     32.956667
1           credit                    165.657609
2            debit                    110.833585
3  debit or credit                     47.313333

In [25]:
data = data.merge(
    stats, how="left", on="card6"
)
data.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,TRANSACTIONAMT_MEAN_BY_CARD4,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,TRANSACTIONAMT_MEAN_BY_CARD6
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,5,2,0,92.1250,0.743555,-23.6250,211.559924,0.323785,-143.059924,165.657609
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,5,2,0,274.0708,0.105812,-245.0708,124.734717,0.232493,-95.734717,165.657609

In [26]:
data["TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD6"] = data["TransactionAmt"] / data["TRANSACTIONAMT_MEAN_BY_CARD6"]
data["DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD6"] = data["TransactionAmt"] - data["TRANSACTIONAMT_MEAN_BY_CARD6"]
data.head(n=3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,TRANSACTIONAMT_MEAN_BY_CARD4,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,TRANSACTIONAMT_MEAN_BY_CARD6,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD6,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD6
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,0,92.125000,0.743555,-23.625000,211.559924,0.323785,-143.059924,165.657609,0.413503,-97.157609
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,0,274.070800,0.105812,-245.070800,124.734717,0.232493,-95.734717,165.657609,0.175060,-136.657609
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,0,94.948551,0.621389,-35.948551,126.812814,0.465253,-67.812814,110.833585,0.532330,-51.833585

In [27]:
data = test

In [28]:
aggs = {
    "TransactionAmt": [np.mean]
}

stats = create_numerical_aggs(
    data, groupby_id="card1", aggs=aggs, suffix="_BY_CARD1"
)
stats.head(n=2)

   card1  TRANSACTIONAMT_MEAN_BY_CARD1
0   1006                         150.0
1   1009                          50.0

In [29]:
data[data['card1'] == 1004]

Empty DataFrame
Columns: [TransactionID, isFraud, TransactionDT, TransactionAmt, ProductCD, card1, card2, card3, card4, card5, card6, addr1, addr2, dist1, dist2, P_emaildomain, R_emaildomain, C1, C2, C3, C4, C5, C6, C7, C8, C9, C10, C11, C12, C13, C14, D1, D2, D3, D4, D5, D6, D7, D8, D9, D10, D11, D12, D13, D14, D15, M1, M2, M3, M4, M5, M6, M7, M8, M9, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, V29, V30, V31, V32, V33, V34, V35, V36, V37, V38, V39, V40, V41, V42, V43, V44, V45, ...]
Index: []

[0 rows x 400 columns]

In [30]:
data = data.merge(
    stats, how="left", on="card1"
)
data.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V337,V338,V339,TransactionDateTime,year,month_of_year,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1
0,3062000,0,1643492,41.0,W,9500,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,2017-12-20 00:31:32,2017,12,2,20,0,112.174826
1,3062001,1,1643513,161.0,W,6668,390.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,2017-12-20 00:31:53,2017,12,2,20,0,155.495000

In [31]:
data["TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1"] = data["TransactionAmt"] / data["TRANSACTIONAMT_MEAN_BY_CARD1"]
data["DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1"] = data["TransactionAmt"] - data["TRANSACTIONAMT_MEAN_BY_CARD1"]
data.head(n=3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V339,TransactionDateTime,year,month_of_year,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1
0,3062000,0,1643492,41.0,W,9500,321.0,150.0,visa,226.0,...,NaN,2017-12-20 00:31:32,2017,12,2,20,0,112.174826,0.365501,-71.174826
1,3062001,1,1643513,161.0,W,6668,390.0,150.0,mastercard,224.0,...,NaN,2017-12-20 00:31:53,2017,12,2,20,0,155.495000,1.035403,5.505000
2,3062002,0,1643519,49.0,W,14935,543.0,150.0,mastercard,224.0,...,NaN,2017-12-20 00:31:59,2017,12,2,20,0,49.000000,1.000000,0.000000

In [32]:
aggs = {
    "TransactionAmt": [np.mean]
}

stats = create_numerical_aggs(
    data, groupby_id="card4", aggs=aggs, suffix="_BY_CARD4"
)
stats

              card4  TRANSACTIONAMT_MEAN_BY_CARD4
0  american express                    196.453411
1          discover                    204.291208
2        mastercard                    122.386740
3              visa                    125.377968

In [33]:
data = data.merge(
    stats, how="left", on="card4"
)
data.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,TransactionDateTime,year,month_of_year,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,TRANSACTIONAMT_MEAN_BY_CARD4
0,3062000,0,1643492,41.0,W,9500,321.0,150.0,visa,226.0,...,2017-12-20 00:31:32,2017,12,2,20,0,112.174826,0.365501,-71.174826,125.377968
1,3062001,1,1643513,161.0,W,6668,390.0,150.0,mastercard,224.0,...,2017-12-20 00:31:53,2017,12,2,20,0,155.495000,1.035403,5.505000,122.386740

In [34]:
data["TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4"] = data["TransactionAmt"] / data["TRANSACTIONAMT_MEAN_BY_CARD4"]
data["DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4"] = data["TransactionAmt"] - data["TRANSACTIONAMT_MEAN_BY_CARD4"]
data.head(n=3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,month_of_year,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,TRANSACTIONAMT_MEAN_BY_CARD4,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4
0,3062000,0,1643492,41.0,W,9500,321.0,150.0,visa,226.0,...,12,2,20,0,112.174826,0.365501,-71.174826,125.377968,0.327011,-84.377968
1,3062001,1,1643513,161.0,W,6668,390.0,150.0,mastercard,224.0,...,12,2,20,0,155.495000,1.035403,5.505000,122.386740,1.315502,38.613260
2,3062002,0,1643519,49.0,W,14935,543.0,150.0,mastercard,224.0,...,12,2,20,0,49.000000,1.000000,0.000000,122.386740,0.400370,-73.386740

In [35]:
stats = create_numerical_aggs(
    data, groupby_id="card6", aggs=aggs, suffix="_BY_CARD6"
)
stats

             card6  TRANSACTIONAMT_MEAN_BY_CARD6
0      charge card                     21.454500
1           credit                    165.392191
2            debit                    109.075197
3  debit or credit                     62.070000

In [36]:
data = data.merge(
    stats, how="left", on="card6"
)
data.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,day_of_week,day,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,TRANSACTIONAMT_MEAN_BY_CARD4,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,TRANSACTIONAMT_MEAN_BY_CARD6
0,3062000,0,1643492,41.0,W,9500,321.0,150.0,visa,226.0,...,2,20,0,112.174826,0.365501,-71.174826,125.377968,0.327011,-84.377968,109.075197
1,3062001,1,1643513,161.0,W,6668,390.0,150.0,mastercard,224.0,...,2,20,0,155.495000,1.035403,5.505000,122.386740,1.315502,38.613260,109.075197

In [37]:
data["TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD6"] = data["TransactionAmt"] / data["TRANSACTIONAMT_MEAN_BY_CARD6"]
data["DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD6"] = data["TransactionAmt"] - data["TRANSACTIONAMT_MEAN_BY_CARD6"]
data.head(n=3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,hour,TRANSACTIONAMT_MEAN_BY_CARD1,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD1,TRANSACTIONAMT_MEAN_BY_CARD4,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD4,TRANSACTIONAMT_MEAN_BY_CARD6,TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD6,DELTA_TransactionAmt_TO_TRANSACTIONAMT_MEAN_BY_CARD6
0,3062000,0,1643492,41.0,W,9500,321.0,150.0,visa,226.0,...,0,112.174826,0.365501,-71.174826,125.377968,0.327011,-84.377968,109.075197,0.375887,-68.075197
1,3062001,1,1643513,161.0,W,6668,390.0,150.0,mastercard,224.0,...,0,155.495000,1.035403,5.505000,122.386740,1.315502,38.613260,109.075197,1.476046,51.924803
2,3062002,0,1643519,49.0,W,14935,543.0,150.0,mastercard,224.0,...,0,49.000000,1.000000,0.000000,122.386740,0.400370,-73.386740,109.075197,0.449231,-60.075197

In [38]:
x_train, x_valid = train_test_split(
    train, train_size=0.7, random_state=27, shuffle=True
)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [39]:
x_train = prepare_data(x_train, categorical=categorical, to_drop=to_drop)
x_valid = prepare_data(x_valid, categorical=categorical, to_drop=to_drop)
x_public_lb = prepare_data(test, categorical=categorical, to_drop=to_drop)

print("x_train.shape = {} rows, {} cols".format(*x_train.shape))
print("x_valid.shape = {} rows, {} cols".format(*x_valid.shape))
print("x_test.shape = {} rows, {} cols".format(*x_public_lb.shape))

x_train.shape = 35000 rows, 397 cols
x_valid.shape = 15001 rows, 397 cols
x_test.shape = 75000 rows, 397 cols

In [40]:
cb_params_1000 = {
    "n_estimators": 1000,
    "learning_rate": 0.01,
    "loss_function": "Logloss",
    "eval_metric": "AUC",
    "task_type": "CPU",
    "max_bin": 20,
    "verbose": 10,
    "max_depth": 6,
    "l2_leaf_reg": 100,
    "early_stopping_rounds": 50,
    "thread_count": 6,
    "random_seed": 27
}


model = fit_catboost(
    x_train, y_train, cb_params_1000, categorical, x_valid, y_valid)

0:	test: 0.6731757	best: 0.6731757 (0)	total: 134ms	remaining: 2m 13s
10:	test: 0.8001497	best: 0.8017052 (7)	total: 1.3s	remaining: 1m 57s
20:	test: 0.8022797	best: 0.8025527 (16)	total: 2.43s	remaining: 1m 53s
30:	test: 0.8025375	best: 0.8042660 (25)	total: 3.5s	remaining: 1m 49s
40:	test: 0.8094565	best: 0.8094565 (40)	total: 4.57s	remaining: 1m 46s
50:	test: 0.8112428	best: 0.8114043 (49)	total: 5.65s	remaining: 1m 45s
60:	test: 0.8114176	best: 0.8124757 (55)	total: 6.75s	remaining: 1m 43s
70:	test: 0.8163746	best: 0.8163746 (70)	total: 7.83s	remaining: 1m 42s
80:	test: 0.8202837	best: 0.8202837 (80)	total: 8.88s	remaining: 1m 40s
90:	test: 0.8278992	best: 0.8278992 (90)	total: 9.94s	remaining: 1m 39s
100:	test: 0.8339391	best: 0.8340826 (98)	total: 11s	remaining: 1m 38s
110:	test: 0.8414247	best: 0.8414247 (110)	total: 12.1s	remaining: 1m 36s
120:	test: 0.8461018	best: 0.8461018 (120)	total: 13.2s	remaining: 1m 35s
130:	test: 0.8520714	best: 0.8520714 (130)	total: 14.3s	remaining: 1m 34s
140:	test: 0.8539794	best: 0.8540125 (139)	total: 15.3s	remaining: 1m 33s
150:	test: 0.8571474	best: 0.8571474 (150)	total: 16.4s	remaining: 1m 32s
160:	test: 0.8598584	best: 0.8598584 (160)	total: 17.5s	remaining: 1m 31s
170:	test: 0.8612198	best: 0.8612198 (170)	total: 18.6s	remaining: 1m 30s
180:	test: 0.8624384	best: 0.8624384 (180)	total: 19.7s	remaining: 1m 29s
190:	test: 0.8633822	best: 0.8633822 (190)	total: 20.8s	remaining: 1m 27s
200:	test: 0.8647758	best: 0.8647758 (200)	total: 21.9s	remaining: 1m 26s
210:	test: 0.8653668	best: 0.8653668 (210)	total: 23s	remaining: 1m 25s
220:	test: 0.8658232	best: 0.8659818 (217)	total: 24.1s	remaining: 1m 24s
230:	test: 0.8665178	best: 0.8665612 (229)	total: 25.2s	remaining: 1m 23s
240:	test: 0.8675727	best: 0.8675727 (240)	total: 26.3s	remaining: 1m 22s
250:	test: 0.8679280	best: 0.8679280 (250)	total: 27.4s	remaining: 1m 21s
260:	test: 0.8691335	best: 0.8691335 (260)	total: 28.5s	remaining: 1m 20s
270:	test: 0.8694595	best: 0.8694595 (270)	total: 29.7s	remaining: 1m 19s
280:	test: 0.8697613	best: 0.8697613 (280)	total: 30.7s	remaining: 1m 18s
290:	test: 0.8704300	best: 0.8704300 (290)	total: 31.9s	remaining: 1m 17s
300:	test: 0.8710541	best: 0.8710541 (300)	total: 33s	remaining: 1m 16s
310:	test: 0.8715606	best: 0.8715606 (310)	total: 34.1s	remaining: 1m 15s
320:	test: 0.8719052	best: 0.8719052 (320)	total: 35.2s	remaining: 1m 14s
330:	test: 0.8720581	best: 0.8720889 (328)	total: 36.2s	remaining: 1m 13s
340:	test: 0.8726464	best: 0.8726464 (340)	total: 37.3s	remaining: 1m 12s
350:	test: 0.8728220	best: 0.8728220 (350)	total: 38.4s	remaining: 1m 10s
360:	test: 0.8733287	best: 0.8733287 (360)	total: 39.4s	remaining: 1m 9s
370:	test: 0.8739522	best: 0.8739522 (370)	total: 40.5s	remaining: 1m 8s
380:	test: 0.8745089	best: 0.8745089 (380)	total: 41.7s	remaining: 1m 7s
390:	test: 0.8748378	best: 0.8748378 (390)	total: 42.8s	remaining: 1m 6s
400:	test: 0.8750635	best: 0.8750635 (400)	total: 43.8s	remaining: 1m 5s
410:	test: 0.8755634	best: 0.8755634 (410)	total: 46.2s	remaining: 1m 6s
420:	test: 0.8762996	best: 0.8762996 (420)	total: 50.7s	remaining: 1m 9s
430:	test: 0.8770570	best: 0.8770570 (430)	total: 54.8s	remaining: 1m 12s
440:	test: 0.8773482	best: 0.8773484 (439)	total: 55.9s	remaining: 1m 10s
450:	test: 0.8776816	best: 0.8776816 (450)	total: 57s	remaining: 1m 9s
460:	test: 0.8779707	best: 0.8779707 (460)	total: 58.2s	remaining: 1m 7s
470:	test: 0.8784270	best: 0.8784270 (470)	total: 59.3s	remaining: 1m 6s
480:	test: 0.8789499	best: 0.8789499 (480)	total: 1m	remaining: 1m 5s
490:	test: 0.8793214	best: 0.8793214 (490)	total: 1m 1s	remaining: 1m 3s
500:	test: 0.8799190	best: 0.8799190 (500)	total: 1m 2s	remaining: 1m 2s
510:	test: 0.8802446	best: 0.8802446 (510)	total: 1m 3s	remaining: 1m
520:	test: 0.8809954	best: 0.8809954 (520)	total: 1m 4s	remaining: 59.5s
530:	test: 0.8816954	best: 0.8816973 (529)	total: 1m 5s	remaining: 58.2s
540:	test: 0.8820531	best: 0.8820531 (540)	total: 1m 6s	remaining: 56.8s
550:	test: 0.8824653	best: 0.8824653 (550)	total: 1m 8s	remaining: 55.4s
560:	test: 0.8828566	best: 0.8828566 (560)	total: 1m 11s	remaining: 55.9s
570:	test: 0.8831233	best: 0.8831233 (570)	total: 1m 15s	remaining: 57.1s
580:	test: 0.8832519	best: 0.8832519 (580)	total: 1m 19s	remaining: 57s
590:	test: 0.8833746	best: 0.8833746 (590)	total: 1m 20s	remaining: 55.5s
600:	test: 0.8841234	best: 0.8841234 (600)	total: 1m 21s	remaining: 54s
610:	test: 0.8849799	best: 0.8849799 (610)	total: 1m 22s	remaining: 52.5s
620:	test: 0.8854619	best: 0.8854619 (620)	total: 1m 23s	remaining: 51s
630:	test: 0.8856829	best: 0.8856829 (630)	total: 1m 24s	remaining: 49.5s
640:	test: 0.8860925	best: 0.8860925 (640)	total: 1m 25s	remaining: 48s
650:	test: 0.8865520	best: 0.8865520 (650)	total: 1m 26s	remaining: 46.6s
660:	test: 0.8867754	best: 0.8867754 (660)	total: 1m 27s	remaining: 45.1s
670:	test: 0.8872820	best: 0.8872820 (670)	total: 1m 29s	remaining: 43.7s
680:	test: 0.8880055	best: 0.8880055 (680)	total: 1m 30s	remaining: 42.3s
690:	test: 0.8883540	best: 0.8883540 (690)	total: 1m 31s	remaining: 40.8s
700:	test: 0.8886380	best: 0.8886380 (700)	total: 1m 32s	remaining: 39.4s
710:	test: 0.8889823	best: 0.8889823 (710)	total: 1m 34s	remaining: 38.5s
720:	test: 0.8892718	best: 0.8892718 (720)	total: 1m 39s	remaining: 38.4s
730:	test: 0.8894500	best: 0.8894500 (730)	total: 1m 43s	remaining: 38.1s
740:	test: 0.8897250	best: 0.8897250 (740)	total: 1m 44s	remaining: 36.6s
750:	test: 0.8900911	best: 0.8900911 (750)	total: 1m 45s	remaining: 35.1s
760:	test: 0.8904241	best: 0.8904241 (760)	total: 1m 46s	remaining: 33.6s
770:	test: 0.8911641	best: 0.8911641 (770)	total: 1m 48s	remaining: 32.1s
780:	test: 0.8913607	best: 0.8913607 (780)	total: 1m 49s	remaining: 30.6s
790:	test: 0.8916355	best: 0.8916355 (790)	total: 1m 50s	remaining: 29.1s
800:	test: 0.8918502	best: 0.8918502 (800)	total: 1m 51s	remaining: 27.7s
810:	test: 0.8922326	best: 0.8922326 (810)	total: 1m 52s	remaining: 26.2s
820:	test: 0.8925727	best: 0.8925727 (820)	total: 1m 53s	remaining: 24.8s
830:	test: 0.8926855	best: 0.8926855 (830)	total: 1m 54s	remaining: 23.4s
840:	test: 0.8928027	best: 0.8928027 (840)	total: 1m 55s	remaining: 21.9s
850:	test: 0.8930589	best: 0.8930589 (850)	total: 1m 57s	remaining: 20.5s
860:	test: 0.8931848	best: 0.8931848 (860)	total: 1m 58s	remaining: 19.1s
870:	test: 0.8936427	best: 0.8936427 (870)	total: 1m 59s	remaining: 17.7s
880:	test: 0.8938183	best: 0.8938183 (880)	total: 2m	remaining: 16.3s
890:	test: 0.8941578	best: 0.8941578 (890)	total: 2m 1s	remaining: 14.8s
900:	test: 0.8943656	best: 0.8943656 (900)	total: 2m 2s	remaining: 13.5s
910:	test: 0.8947254	best: 0.8947254 (910)	total: 2m 3s	remaining: 12.1s
920:	test: 0.8948188	best: 0.8948188 (920)	total: 2m 4s	remaining: 10.7s
930:	test: 0.8951444	best: 0.8951444 (930)	total: 2m 5s	remaining: 9.32s
940:	test: 0.8952177	best: 0.8952177 (940)	total: 2m 6s	remaining: 7.96s
950:	test: 0.8955226	best: 0.8955226 (950)	total: 2m 7s	remaining: 6.59s
960:	test: 0.8955482	best: 0.8955482 (960)	total: 2m 9s	remaining: 5.24s
970:	test: 0.8958181	best: 0.8958181 (970)	total: 2m 10s	remaining: 3.89s
980:	test: 0.8960094	best: 0.8960094 (980)	total: 2m 11s	remaining: 2.55s
990:	test: 0.8962020	best: 0.8962067 (989)	total: 2m 12s	remaining: 1.2s
999:	test: 0.8962666	best: 0.8962666 (999)	total: 2m 13s	remaining: 0us

bestTest = 0.8962666471
bestIteration = 999

In [41]:
evaluate_model(model, x_train, y_train, x_valid, y_valid, x_public_lb, test["isFraud"])

score = 0.896267
score = 0.867839
score = 0.865789

Задание 3: преобразовать признаки card_1 - card_6 с помощью Frequency Encoding;

In [42]:
data = train

In [43]:
freq_encoder = data["card1"].value_counts(normalize=True)
data["card1_freq_enc"] = data["card1"].map(freq_encoder)
data[["card1", "card1_freq_enc"]].head(10)

   card1  card1_freq_enc
0  13926         0.00008
1   2755         0.00150
2   4663         0.00138
3  18132         0.00726
4   4497         0.00002
5   5937         0.00004
6  12308         0.00034
7  12695         0.01022
8   2803         0.00884
9  17399         0.00262

In [44]:
freq_encoder = data["card4"].value_counts(normalize=True)
data["card4_freq_enc"] = data["card4"].map(freq_encoder)
data[["card4", "card4_freq_enc"]].head(10)

        card4  card4_freq_enc
0    discover        0.013081
1  mastercard        0.313951
2        visa        0.651305
3  mastercard        0.313951
4  mastercard        0.313951
5        visa        0.651305
6        visa        0.651305
7        visa        0.651305
8        visa        0.651305
9  mastercard        0.313951

In [45]:
freq_encoder = data["card6"].value_counts(normalize=True)
data["card6_freq_enc"] = data["card6"].map(freq_encoder)
data[["card6", "card6_freq_enc"]].head(10)

    card6  card6_freq_enc
0  credit        0.315733
1  credit        0.315733
2   debit        0.684147
3   debit        0.684147
4  credit        0.315733
5   debit        0.684147
6   debit        0.684147
7   debit        0.684147
8   debit        0.684147
9   debit        0.684147

In [46]:
data = test

In [47]:
freq_encoder = data["card1"].value_counts(normalize=True)
data["card1_freq_enc"] = data["card1"].map(freq_encoder)
data[["card1", "card1_freq_enc"]].head(10)

   card1  card1_freq_enc
0   9500        0.020067
1   6668        0.000027
2  14935        0.000013
3   8394        0.001067
4   9500        0.020067
5   6019        0.020627
6   8358        0.000027
7   5700        0.001093
8  18227        0.002320
9   8058        0.000227

In [48]:
freq_encoder = data["card4"].value_counts(normalize=True)
data["card4_freq_enc"] = data["card4"].map(freq_encoder)
data[["card4", "card4_freq_enc"]].head(10)

        card4  card4_freq_enc
0        visa        0.656471
1  mastercard        0.295275
2  mastercard        0.295275
3        visa        0.656471
4        visa        0.656471
5        visa        0.656471
6        visa        0.656471
7  mastercard        0.295275
8        visa        0.656471
9        visa        0.656471

In [49]:
freq_encoder = data["card6"].value_counts(normalize=True)
data["card6_freq_enc"] = data["card6"].map(freq_encoder)
data[["card6", "card6_freq_enc"]].head(10)

    card6  card6_freq_enc
0   debit        0.663235
1   debit        0.663235
2   debit        0.663235
3   debit        0.663235
4   debit        0.663235
5  credit        0.336685
6   debit        0.663235
7   debit        0.663235
8  credit        0.336685
9   debit        0.663235

In [50]:
x_train, x_valid = train_test_split(
    train, train_size=0.7, random_state=27, shuffle=True
)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [51]:
x_train = prepare_data(x_train, categorical=categorical, to_drop=to_drop)
x_valid = prepare_data(x_valid, categorical=categorical, to_drop=to_drop)
x_public_lb = prepare_data(test, categorical=categorical, to_drop=to_drop)

print("x_train.shape = {} rows, {} cols".format(*x_train.shape))
print("x_valid.shape = {} rows, {} cols".format(*x_valid.shape))
print("x_test.shape = {} rows, {} cols".format(*x_public_lb.shape))

x_train.shape = 35000 rows, 400 cols
x_valid.shape = 15001 rows, 400 cols
x_test.shape = 75000 rows, 400 cols

In [52]:

model = fit_catboost(
    x_train, y_train, cb_params_1000, categorical, x_valid, y_valid)

0:	test: 0.5563693	best: 0.5563693 (0)	total: 395ms	remaining: 6m 34s
10:	test: 0.7683229	best: 0.7683229 (10)	total: 1.54s	remaining: 2m 18s
20:	test: 0.7961048	best: 0.7961048 (20)	total: 2.61s	remaining: 2m 1s
30:	test: 0.7950917	best: 0.7972417 (26)	total: 3.66s	remaining: 1m 54s
40:	test: 0.7992484	best: 0.8014545 (38)	total: 4.71s	remaining: 1m 50s
50:	test: 0.8096182	best: 0.8096182 (50)	total: 5.75s	remaining: 1m 47s
60:	test: 0.8169722	best: 0.8169722 (60)	total: 6.84s	remaining: 1m 45s
70:	test: 0.8242967	best: 0.8244824 (67)	total: 7.92s	remaining: 1m 43s
80:	test: 0.8273846	best: 0.8273846 (80)	total: 11.4s	remaining: 2m 9s
90:	test: 0.8347649	best: 0.8347649 (90)	total: 15.7s	remaining: 2m 36s
100:	test: 0.8416862	best: 0.8416862 (100)	total: 18.7s	remaining: 2m 46s
110:	test: 0.8445587	best: 0.8446030 (109)	total: 19.8s	remaining: 2m 38s
120:	test: 0.8494243	best: 0.8494243 (120)	total: 20.9s	remaining: 2m 31s
130:	test: 0.8528898	best: 0.8528898 (130)	total: 22s	remaining: 2m 25s
140:	test: 0.8544902	best: 0.8546269 (138)	total: 23.1s	remaining: 2m 20s
150:	test: 0.8571558	best: 0.8571558 (150)	total: 24.2s	remaining: 2m 16s
160:	test: 0.8598470	best: 0.8598470 (160)	total: 25.3s	remaining: 2m 11s
170:	test: 0.8608918	best: 0.8609619 (168)	total: 26.4s	remaining: 2m 7s
180:	test: 0.8624320	best: 0.8624320 (180)	total: 27.5s	remaining: 2m 4s
190:	test: 0.8637056	best: 0.8637056 (190)	total: 28.6s	remaining: 2m 1s
200:	test: 0.8646527	best: 0.8646527 (200)	total: 29.7s	remaining: 1m 57s
210:	test: 0.8654307	best: 0.8654307 (210)	total: 30.8s	remaining: 1m 55s
220:	test: 0.8664115	best: 0.8664115 (220)	total: 32s	remaining: 1m 52s
230:	test: 0.8668851	best: 0.8669400 (229)	total: 33.1s	remaining: 1m 50s
240:	test: 0.8679031	best: 0.8679031 (240)	total: 34.3s	remaining: 1m 47s
250:	test: 0.8683410	best: 0.8683410 (250)	total: 35.4s	remaining: 1m 45s
260:	test: 0.8684327	best: 0.8684603 (256)	total: 36.5s	remaining: 1m 43s
270:	test: 0.8683616	best: 0.8685735 (267)	total: 37.6s	remaining: 1m 41s
280:	test: 0.8692451	best: 0.8692451 (280)	total: 38.7s	remaining: 1m 39s
290:	test: 0.8700559	best: 0.8700559 (290)	total: 39.8s	remaining: 1m 37s
300:	test: 0.8703614	best: 0.8703614 (300)	total: 43.4s	remaining: 1m 40s
310:	test: 0.8706480	best: 0.8706480 (310)	total: 47.6s	remaining: 1m 45s
320:	test: 0.8711615	best: 0.8711615 (320)	total: 50.7s	remaining: 1m 47s
330:	test: 0.8713855	best: 0.8714259 (326)	total: 51.8s	remaining: 1m 44s
340:	test: 0.8719114	best: 0.8719114 (340)	total: 55.1s	remaining: 1m 46s
350:	test: 0.8724820	best: 0.8724820 (350)	total: 59.4s	remaining: 1m 49s
360:	test: 0.8729795	best: 0.8729839 (359)	total: 1m 2s	remaining: 1m 50s
370:	test: 0.8733365	best: 0.8733365 (370)	total: 1m 3s	remaining: 1m 48s
380:	test: 0.8735451	best: 0.8735469 (379)	total: 1m 4s	remaining: 1m 45s
390:	test: 0.8741865	best: 0.8741865 (390)	total: 1m 5s	remaining: 1m 42s
400:	test: 0.8745234	best: 0.8745234 (400)	total: 1m 7s	remaining: 1m 40s
410:	test: 0.8746359	best: 0.8746359 (410)	total: 1m 8s	remaining: 1m 37s
420:	test: 0.8751765	best: 0.8751765 (420)	total: 1m 9s	remaining: 1m 35s
430:	test: 0.8756336	best: 0.8756336 (430)	total: 1m 10s	remaining: 1m 32s
440:	test: 0.8760071	best: 0.8760071 (440)	total: 1m 11s	remaining: 1m 30s
450:	test: 0.8765993	best: 0.8765993 (450)	total: 1m 12s	remaining: 1m 28s
460:	test: 0.8769859	best: 0.8769859 (460)	total: 1m 13s	remaining: 1m 26s
470:	test: 0.8775653	best: 0.8775653 (470)	total: 1m 14s	remaining: 1m 23s
480:	test: 0.8785647	best: 0.8785647 (480)	total: 1m 15s	remaining: 1m 21s
490:	test: 0.8793043	best: 0.8793043 (490)	total: 1m 16s	remaining: 1m 19s
500:	test: 0.8803280	best: 0.8803280 (500)	total: 1m 18s	remaining: 1m 17s
510:	test: 0.8810582	best: 0.8810582 (510)	total: 1m 19s	remaining: 1m 15s
520:	test: 0.8815676	best: 0.8815676 (520)	total: 1m 20s	remaining: 1m 13s
530:	test: 0.8822725	best: 0.8822725 (530)	total: 1m 21s	remaining: 1m 12s
540:	test: 0.8827073	best: 0.8827073 (540)	total: 1m 22s	remaining: 1m 10s
550:	test: 0.8830436	best: 0.8830436 (550)	total: 1m 23s	remaining: 1m 8s
560:	test: 0.8839160	best: 0.8839160 (560)	total: 1m 24s	remaining: 1m 6s
570:	test: 0.8841782	best: 0.8841782 (570)	total: 1m 28s	remaining: 1m 6s
580:	test: 0.8847393	best: 0.8847393 (580)	total: 1m 32s	remaining: 1m 6s
590:	test: 0.8852105	best: 0.8852105 (590)	total: 1m 35s	remaining: 1m 6s
600:	test: 0.8855426	best: 0.8855426 (600)	total: 1m 37s	remaining: 1m 4s
610:	test: 0.8860277	best: 0.8860277 (610)	total: 1m 38s	remaining: 1m 2s
620:	test: 0.8866003	best: 0.8866003 (620)	total: 1m 39s	remaining: 1m
630:	test: 0.8869394	best: 0.8869394 (630)	total: 1m 40s	remaining: 58.8s
640:	test: 0.8875452	best: 0.8875452 (640)	total: 1m 41s	remaining: 57s
650:	test: 0.8881178	best: 0.8881178 (650)	total: 1m 42s	remaining: 55.1s
660:	test: 0.8885405	best: 0.8885405 (660)	total: 1m 43s	remaining: 53.3s
670:	test: 0.8889682	best: 0.8889682 (670)	total: 1m 45s	remaining: 51.5s
680:	test: 0.8893790	best: 0.8893790 (680)	total: 1m 46s	remaining: 49.8s
690:	test: 0.8900220	best: 0.8900220 (690)	total: 1m 47s	remaining: 48s
700:	test: 0.8904421	best: 0.8904421 (700)	total: 1m 48s	remaining: 46.3s
710:	test: 0.8905949	best: 0.8905949 (710)	total: 1m 49s	remaining: 44.6s
720:	test: 0.8907615	best: 0.8907615 (720)	total: 1m 50s	remaining: 42.8s
730:	test: 0.8909331	best: 0.8909331 (730)	total: 1m 51s	remaining: 41.1s
740:	test: 0.8912766	best: 0.8912766 (740)	total: 1m 52s	remaining: 39.5s
750:	test: 0.8916268	best: 0.8916268 (750)	total: 1m 54s	remaining: 37.8s
760:	test: 0.8920285	best: 0.8920285 (760)	total: 1m 55s	remaining: 36.2s
770:	test: 0.8923010	best: 0.8923010 (770)	total: 1m 56s	remaining: 34.5s
780:	test: 0.8925813	best: 0.8925813 (780)	total: 1m 57s	remaining: 33.1s
790:	test: 0.8927329	best: 0.8927329 (790)	total: 2m 2s	remaining: 32.4s
800:	test: 0.8929032	best: 0.8929032 (800)	total: 2m 7s	remaining: 31.6s
810:	test: 0.8931842	best: 0.8931842 (810)	total: 2m 8s	remaining: 29.9s
820:	test: 0.8933305	best: 0.8933305 (820)	total: 2m 9s	remaining: 28.2s
830:	test: 0.8936617	best: 0.8936617 (830)	total: 2m 10s	remaining: 26.6s
840:	test: 0.8938436	best: 0.8938436 (840)	total: 2m 11s	remaining: 24.9s
850:	test: 0.8941421	best: 0.8941421 (850)	total: 2m 13s	remaining: 23.3s
860:	test: 0.8943523	best: 0.8943523 (860)	total: 2m 14s	remaining: 21.6s
870:	test: 0.8947000	best: 0.8947000 (870)	total: 2m 15s	remaining: 20s
880:	test: 0.8949459	best: 0.8949459 (880)	total: 2m 16s	remaining: 18.4s
890:	test: 0.8951851	best: 0.8951851 (890)	total: 2m 17s	remaining: 16.8s
900:	test: 0.8954817	best: 0.8954817 (900)	total: 2m 18s	remaining: 15.2s
910:	test: 0.8956323	best: 0.8956323 (910)	total: 2m 19s	remaining: 13.6s
920:	test: 0.8958331	best: 0.8958331 (920)	total: 2m 20s	remaining: 12.1s
930:	test: 0.8962477	best: 0.8962477 (930)	total: 2m 21s	remaining: 10.5s
940:	test: 0.8965916	best: 0.8965916 (940)	total: 2m 23s	remaining: 8.97s
950:	test: 0.8969880	best: 0.8969880 (950)	total: 2m 24s	remaining: 7.43s
960:	test: 0.8972743	best: 0.8972743 (960)	total: 2m 25s	remaining: 5.9s
970:	test: 0.8974468	best: 0.8974468 (970)	total: 2m 26s	remaining: 4.38s
980:	test: 0.8975678	best: 0.8975678 (980)	total: 2m 27s	remaining: 2.86s
990:	test: 0.8976679	best: 0.8976679 (990)	total: 2m 28s	remaining: 1.35s
999:	test: 0.8979572	best: 0.8979572 (999)	total: 2m 32s	remaining: 0us

bestTest = 0.8979572439
bestIteration = 999

In [53]:
evaluate_model(model, x_train, y_train, x_valid, y_valid, x_public_lb, test["isFraud"])

score = 0.897957
score = 0.869628
score = 0.866417

Задание 4: преобразовать признак TransactionAmt в логариф признака, выделить дробную часть и целую часть в отдельные признаки.

In [54]:
data = train

In [55]:
import math 
data["TransactionAmt1"] = data["TransactionAmt"].apply(lambda x: math.trunc(np.log(x)))
data["TransactionAmt2"] = data["TransactionAmt"].apply(lambda x: np.log(x) - math.trunc(np.log(x)))

In [56]:
data["TransactionAmt2"].head(10)

0    0.226834
1    0.367296
2    0.077537
3    0.912023
4    0.912023
5    0.891820
6    0.068904
7    0.046189
8    0.708050
9    0.762174
Name: TransactionAmt2, dtype: float64

In [57]:
data = test

In [58]:
import math 
data["TransactionAmt1"] = data["TransactionAmt"].apply(lambda x: math.trunc(np.log(x)))
data["TransactionAmt2"] = data["TransactionAmt"].apply(lambda x: np.log(x) - math.trunc(np.log(x)))

In [59]:
data["TransactionAmt2"].head(10)

0    0.713572
1    0.081404
2    0.891820
3    0.605170
4    0.574711
5    0.605170
6    0.681668
7    0.449988
8    0.605170
9    0.720312
Name: TransactionAmt2, dtype: float64

In [60]:
x_train, x_valid = train_test_split(
    train, train_size=0.7, random_state=27, shuffle=True
)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [61]:
x_train = prepare_data(x_train, categorical=categorical, to_drop=to_drop)
x_valid = prepare_data(x_valid, categorical=categorical, to_drop=to_drop)
x_public_lb = prepare_data(test, categorical=categorical, to_drop=to_drop)

print("x_train.shape = {} rows, {} cols".format(*x_train.shape))
print("x_valid.shape = {} rows, {} cols".format(*x_valid.shape))
print("x_test.shape = {} rows, {} cols".format(*x_public_lb.shape))

x_train.shape = 35000 rows, 402 cols
x_valid.shape = 15001 rows, 402 cols
x_test.shape = 75000 rows, 402 cols

In [62]:

model = fit_catboost(
    x_train, y_train, cb_params_1000, categorical, x_valid, y_valid)

0:	test: 0.5755027	best: 0.5755027 (0)	total: 116ms	remaining: 1m 56s
10:	test: 0.7696169	best: 0.7751424 (9)	total: 1.28s	remaining: 1m 55s
20:	test: 0.7951340	best: 0.7955779 (18)	total: 2.34s	remaining: 1m 49s
30:	test: 0.8166982	best: 0.8166982 (30)	total: 3.43s	remaining: 1m 47s
40:	test: 0.8176049	best: 0.8176049 (40)	total: 4.5s	remaining: 1m 45s
50:	test: 0.8189826	best: 0.8192191 (46)	total: 5.55s	remaining: 1m 43s
60:	test: 0.8206574	best: 0.8206574 (60)	total: 6.65s	remaining: 1m 42s
70:	test: 0.8196922	best: 0.8210960 (63)	total: 7.74s	remaining: 1m 41s
80:	test: 0.8269190	best: 0.8269190 (80)	total: 8.84s	remaining: 1m 40s
90:	test: 0.8325014	best: 0.8331570 (89)	total: 11.3s	remaining: 1m 52s
100:	test: 0.8380460	best: 0.8380460 (100)	total: 15.7s	remaining: 2m 19s
110:	test: 0.8437438	best: 0.8439837 (109)	total: 19.7s	remaining: 2m 38s
120:	test: 0.8494611	best: 0.8494611 (120)	total: 20.8s	remaining: 2m 31s
130:	test: 0.8535305	best: 0.8535305 (130)	total: 21.9s	remaining: 2m 25s
140:	test: 0.8565026	best: 0.8565026 (140)	total: 23s	remaining: 2m 20s
150:	test: 0.8588407	best: 0.8588407 (150)	total: 24.2s	remaining: 2m 15s
160:	test: 0.8603091	best: 0.8603091 (160)	total: 25.4s	remaining: 2m 12s
170:	test: 0.8616443	best: 0.8617388 (168)	total: 26.5s	remaining: 2m 8s
180:	test: 0.8624756	best: 0.8624756 (180)	total: 27.7s	remaining: 2m 5s
190:	test: 0.8629072	best: 0.8629927 (187)	total: 28.8s	remaining: 2m 2s
200:	test: 0.8637063	best: 0.8637617 (199)	total: 30s	remaining: 1m 59s
210:	test: 0.8642752	best: 0.8642752 (210)	total: 31.2s	remaining: 1m 56s
220:	test: 0.8652179	best: 0.8652179 (220)	total: 32.6s	remaining: 1m 54s
230:	test: 0.8659624	best: 0.8659624 (230)	total: 34s	remaining: 1m 53s
240:	test: 0.8668522	best: 0.8668522 (240)	total: 35.6s	remaining: 1m 52s
250:	test: 0.8675577	best: 0.8675577 (250)	total: 37s	remaining: 1m 50s
260:	test: 0.8679792	best: 0.8680053 (256)	total: 38.4s	remaining: 1m 48s
270:	test: 0.8683300	best: 0.8683300 (270)	total: 39.6s	remaining: 1m 46s
280:	test: 0.8688297	best: 0.8688297 (280)	total: 40.6s	remaining: 1m 43s
290:	test: 0.8695294	best: 0.8695294 (290)	total: 41.7s	remaining: 1m 41s
300:	test: 0.8697285	best: 0.8697302 (299)	total: 42.9s	remaining: 1m 39s
310:	test: 0.8704485	best: 0.8704485 (310)	total: 43.9s	remaining: 1m 37s
320:	test: 0.8711194	best: 0.8711194 (320)	total: 45.1s	remaining: 1m 35s
330:	test: 0.8720710	best: 0.8720710 (330)	total: 46.2s	remaining: 1m 33s
340:	test: 0.8727436	best: 0.8727813 (339)	total: 47.3s	remaining: 1m 31s
350:	test: 0.8734041	best: 0.8734041 (350)	total: 48.4s	remaining: 1m 29s
360:	test: 0.8736686	best: 0.8736686 (360)	total: 49.6s	remaining: 1m 27s
370:	test: 0.8745786	best: 0.8746202 (369)	total: 50.7s	remaining: 1m 25s
380:	test: 0.8753692	best: 0.8753692 (380)	total: 51.8s	remaining: 1m 24s
390:	test: 0.8757494	best: 0.8757494 (390)	total: 52.9s	remaining: 1m 22s
400:	test: 0.8763729	best: 0.8763729 (400)	total: 54s	remaining: 1m 20s
410:	test: 0.8766853	best: 0.8766855 (409)	total: 55.1s	remaining: 1m 18s
420:	test: 0.8771727	best: 0.8771727 (420)	total: 56.2s	remaining: 1m 17s
430:	test: 0.8773825	best: 0.8773825 (430)	total: 57.3s	remaining: 1m 15s
440:	test: 0.8781017	best: 0.8781017 (440)	total: 58.4s	remaining: 1m 14s
450:	test: 0.8785028	best: 0.8785028 (450)	total: 1m	remaining: 1m 13s
460:	test: 0.8795324	best: 0.8795324 (460)	total: 1m 5s	remaining: 1m 16s
470:	test: 0.8804783	best: 0.8804783 (470)	total: 1m 9s	remaining: 1m 18s
480:	test: 0.8807027	best: 0.8807398 (479)	total: 1m 10s	remaining: 1m 16s
490:	test: 0.8814776	best: 0.8814776 (490)	total: 1m 11s	remaining: 1m 14s
500:	test: 0.8820860	best: 0.8820860 (500)	total: 1m 12s	remaining: 1m 12s
510:	test: 0.8824093	best: 0.8824093 (510)	total: 1m 14s	remaining: 1m 10s
520:	test: 0.8827924	best: 0.8827924 (520)	total: 1m 15s	remaining: 1m 9s
530:	test: 0.8834616	best: 0.8834616 (530)	total: 1m 16s	remaining: 1m 7s
540:	test: 0.8839214	best: 0.8839214 (540)	total: 1m 17s	remaining: 1m 5s
550:	test: 0.8842585	best: 0.8842585 (550)	total: 1m 18s	remaining: 1m 3s
560:	test: 0.8846495	best: 0.8846495 (560)	total: 1m 19s	remaining: 1m 2s
570:	test: 0.8853207	best: 0.8853207 (570)	total: 1m 20s	remaining: 1m
580:	test: 0.8859314	best: 0.8859314 (580)	total: 1m 21s	remaining: 59s
590:	test: 0.8862181	best: 0.8862181 (590)	total: 1m 22s	remaining: 57.4s
600:	test: 0.8864912	best: 0.8864912 (600)	total: 1m 24s	remaining: 55.8s
610:	test: 0.8869173	best: 0.8869173 (610)	total: 1m 25s	remaining: 54.2s
620:	test: 0.8876807	best: 0.8876807 (620)	total: 1m 26s	remaining: 52.6s
630:	test: 0.8879705	best: 0.8879705 (630)	total: 1m 27s	remaining: 51s
640:	test: 0.8883267	best: 0.8883267 (640)	total: 1m 28s	remaining: 49.5s
650:	test: 0.8886561	best: 0.8886561 (650)	total: 1m 29s	remaining: 48s
660:	test: 0.8893286	best: 0.8893286 (660)	total: 1m 30s	remaining: 46.5s
670:	test: 0.8896976	best: 0.8896976 (670)	total: 1m 31s	remaining: 45.1s
680:	test: 0.8899744	best: 0.8899744 (680)	total: 1m 33s	remaining: 43.7s
690:	test: 0.8905450	best: 0.8905450 (690)	total: 1m 34s	remaining: 42.2s
700:	test: 0.8910650	best: 0.8910650 (700)	total: 1m 35s	remaining: 40.8s
710:	test: 0.8912313	best: 0.8912313 (710)	total: 1m 36s	remaining: 39.3s
720:	test: 0.8915705	best: 0.8915705 (720)	total: 1m 37s	remaining: 37.9s
730:	test: 0.8918351	best: 0.8918351 (730)	total: 1m 38s	remaining: 36.4s
740:	test: 0.8923796	best: 0.8923796 (740)	total: 1m 40s	remaining: 35s
750:	test: 0.8926826	best: 0.8926826 (750)	total: 1m 41s	remaining: 33.6s
760:	test: 0.8932500	best: 0.8932500 (760)	total: 1m 42s	remaining: 32.1s
770:	test: 0.8934565	best: 0.8934565 (770)	total: 1m 43s	remaining: 30.7s
780:	test: 0.8937047	best: 0.8937047 (780)	total: 1m 44s	remaining: 29.3s
790:	test: 0.8940794	best: 0.8940794 (790)	total: 1m 45s	remaining: 27.9s
800:	test: 0.8943252	best: 0.8943252 (800)	total: 1m 46s	remaining: 26.6s
810:	test: 0.8945339	best: 0.8945339 (810)	total: 1m 47s	remaining: 25.2s
820:	test: 0.8947205	best: 0.8947205 (820)	total: 1m 49s	remaining: 23.8s
830:	test: 0.8950295	best: 0.8950295 (830)	total: 1m 50s	remaining: 22.4s
840:	test: 0.8953760	best: 0.8953764 (839)	total: 1m 51s	remaining: 21s
850:	test: 0.8956457	best: 0.8956457 (850)	total: 1m 52s	remaining: 19.7s
860:	test: 0.8959063	best: 0.8959063 (860)	total: 1m 53s	remaining: 18.3s
870:	test: 0.8960683	best: 0.8960683 (870)	total: 1m 54s	remaining: 17s
880:	test: 0.8963187	best: 0.8963187 (880)	total: 1m 55s	remaining: 15.7s
890:	test: 0.8966030	best: 0.8966030 (890)	total: 1m 56s	remaining: 14.3s
900:	test: 0.8969131	best: 0.8969131 (900)	total: 1m 58s	remaining: 13s
910:	test: 0.8972685	best: 0.8972685 (910)	total: 1m 59s	remaining: 11.6s
920:	test: 0.8975604	best: 0.8975604 (920)	total: 2m	remaining: 10.3s
930:	test: 0.8980138	best: 0.8980138 (930)	total: 2m 1s	remaining: 9.01s
940:	test: 0.8981359	best: 0.8981360 (939)	total: 2m 2s	remaining: 7.69s
950:	test: 0.8983935	best: 0.8983935 (950)	total: 2m 3s	remaining: 6.38s
960:	test: 0.8985727	best: 0.8985727 (960)	total: 2m 4s	remaining: 5.07s
970:	test: 0.8987416	best: 0.8987416 (970)	total: 2m 6s	remaining: 3.77s
980:	test: 0.8990795	best: 0.8990795 (980)	total: 2m 7s	remaining: 2.46s
990:	test: 0.8993199	best: 0.8993199 (990)	total: 2m 8s	remaining: 1.17s
999:	test: 0.8995181	best: 0.8995181 (999)	total: 2m 9s	remaining: 0us

bestTest = 0.8995180609
bestIteration = 999

In [63]:
evaluate_model(model, x_train, y_train, x_valid, y_valid, x_public_lb, test["isFraud"])

score = 0.899518
score = 0.870664
score = 0.866083

Задание 5: для числовых признаков построить PCA-признаки, добавить их к основной части датасета.

In [64]:
numerical_features = x_train.select_dtypes(exclude=["object"])
numerical_features = numerical_features.columns.tolist()
numerical_features

['TransactionAmt',
 'card1',
 'card2',
 'card3',
 'card5',
 'addr1',
 'addr2',
 'dist1',
 'dist2',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D6',
 'D7',
 'D8',
 'D9',
 'D10',
 'D11',
 'D12',
 'D13',
 'D14',
 'D15',
 'V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V55',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V64',
 'V65',
 'V66',
 'V67',
 'V68',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74',
 'V75',
 'V76',
 'V77',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V84',
 'V85',
 'V86',
 'V87',
 'V88',
 'V89',
 'V90',
 'V91',
 'V92',
 'V93',
 'V94',
 'V95',
 'V96',
 'V97',
 'V98',
 'V99',
 'V100',
 'V101',
 'V102',
 'V103',
 'V104',
 'V105',
 'V106',
 'V107',
 'V108',
 'V109',
 'V110',
 'V111',
 'V112',
 'V113',
 'V114',
 'V115',
 'V116',
 'V117',
 'V118',
 'V119',
 'V120',
 'V121',
 'V122',
 'V123',
 'V124',
 'V125',
 'V126',
 'V127',
 'V128',
 'V129',
 'V130',
 'V131',
 'V132',
 'V133',
 'V134',
 'V135',
 'V136',
 'V137',
 'V138',
 'V139',
 'V140',
 'V141',
 'V142',
 'V143',
 'V144',
 'V145',
 'V146',
 'V147',
 'V148',
 'V149',
 'V150',
 'V151',
 'V152',
 'V153',
 'V154',
 'V155',
 'V156',
 'V157',
 'V158',
 'V159',
 'V160',
 'V161',
 'V162',
 'V163',
 'V164',
 'V165',
 'V166',
 'V167',
 'V168',
 'V169',
 'V170',
 'V171',
 'V172',
 'V173',
 'V174',
 'V175',
 'V176',
 'V177',
 'V178',
 'V179',
 'V180',
 'V181',
 'V182',
 'V183',
 'V184',
 'V185',
 'V186',
 'V187',
 'V188',
 'V189',
 'V190',
 'V191',
 'V192',
 'V193',
 'V194',
 'V195',
 'V196',
 'V197',
 'V198',
 'V199',
 'V200',
 'V201',
 'V202',
 'V203',
 'V204',
 'V205',
 'V206',
 'V207',
 'V208',
 'V209',
 'V210',
 'V211',
 'V212',
 'V213',
 'V214',
 'V215',
 'V216',
 'V217',
 'V218',
 'V219',
 'V220',
 'V221',
 'V222',
 'V223',
 'V224',
 'V225',
 'V226',
 'V227',
 'V228',
 'V229',
 'V230',
 'V231',
 'V232',
 'V233',
 'V234',
 'V235',
 'V236',
 'V237',
 'V238',
 'V239',
 'V240',
 'V241',
 'V242',
 'V243',
 'V244',
 'V245',
 'V246',
 'V247',
 'V248',
 'V249',
 'V250',
 'V251',
 'V252',
 'V253',
 'V254',
 'V255',
 'V256',
 'V257',
 'V258',
 'V259',
 'V260',
 'V261',
 'V262',
 'V263',
 'V264',
 'V265',
 'V266',
 'V267',
 'V268',
 'V269',
 'V270',
 'V271',
 'V272',
 'V273',
 'V274',
 'V275',
 'V276',
 'V277',
 'V278',
 'V279',
 'V280',
 'V281',
 'V282',
 'V283',
 'V284',
 'V285',
 'V286',
 'V287',
 'V288',
 'V289',
 'V290',
 'V291',
 'V292',
 'V293',
 'V294',
 'V295',
 'V296',
 'V297',
 'V298',
 'V299',
 'V300',
 'V301',
 'V302',
 'V303',
 'V304',
 'V305',
 'V306',
 'V307',
 'V308',
 'V309',
 'V310',
 'V311',
 'V312',
 'V313',
 'V314',
 'V315',
 'V316',
 'V317',
 'V318',
 'V319',
 'V320',
 'V321',
 'V322',
 'V323',
 'V324',
 'V325',
 'V326',
 'V327',
 'V328',
 'V329',
 'V330',
 'V331',
 'V332',
 'V333',
 'V334',
 'V335',
 'V336',
 'V337',
 'V338',
 'V339',
 'TransactionDateTime',
 'year',
 'month_of_year',
 'day_of_week',
 'day',
 'hour',
 'card1_freq_enc',
 'card4_freq_enc',
 'card6_freq_enc',
 'TransactionAmt1',
 'TransactionAmt2']

In [66]:
x_train = x_train[numerical_features]

In [67]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 10)
XPCAreduced = pca.fit_transform(np.transpose(x_train))
XPCAreduced

TypeError: float() argument must be a string or a number, not 'Timestamp'

Задание 6: использовать критерий отбора признаков на основе перестановок для отбора признаков, которые положительно влияют на перформанс модели. Переобучить модель и сделать выводы о полученном качестве алгоритма.

In [68]:
from tqdm import tqdm

def calculate_permutation_importance(estimator, 
                                     metric: callable,
                                     x_valid: pd.DataFrame,
                                     y_valid: pd.Series) -> pd.Series:
    """
    Расчет пермутированной важности признаков.
    """
    scores = {}
    y_pred = estimator.predict(x_valid)
    base_score = metric(y_valid, y_pred)

    for feature in tqdm(x_valid.columns):
        x_valid_copy = x_valid.copy()
        x_valid_copy[feature] = np.random.permutation(x_valid_copy[feature])

        y_pred = estimator.predict(x_valid_copy)
        score = metric(y_valid, y_pred)
        scores[feature] = base_score - score

    scores = pd.Series(scores)
    scores = scores.sort_values(ascending=False)

    return scores

In [69]:
x_train, x_valid = train_test_split(
    train, train_size=0.7, random_state=27, shuffle=True
)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [70]:
to_drop = [
    "TransactionID",
    "TransactionDT",
    "isFraud",
    "TransactionDateTime"
]

categorical = train.select_dtypes(include=["object"]).columns.tolist()
categorical

['ProductCD',
 'card4',
 'card6',
 'P_emaildomain',
 'R_emaildomain',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9']

In [71]:
x_train = prepare_data(x_train, categorical=categorical, to_drop=to_drop)
x_valid = prepare_data(x_valid, categorical=categorical, to_drop=to_drop)
x_public_lb = prepare_data(test, categorical=categorical, to_drop=to_drop)

print("x_train.shape = {} rows, {} cols".format(*x_train.shape))
print("x_valid.shape = {} rows, {} cols".format(*x_valid.shape))
print("x_test.shape = {} rows, {} cols".format(*x_public_lb.shape))

x_train.shape = 35000 rows, 401 cols
x_valid.shape = 15001 rows, 401 cols
x_test.shape = 75000 rows, 401 cols

In [74]:
cb_params_1000 = {
    "n_estimators": 1000,
    "learning_rate": 0.01,
    "loss_function": "Logloss",
    "eval_metric": "AUC",
    "task_type": "CPU",
    "max_bin": 20,
    "verbose": 10,
    "max_depth": 6,
    "l2_leaf_reg": 100,
    "early_stopping_rounds": 50,
    "thread_count": 6,
    "random_seed": 27
}


model = fit_catboost(
    x_train, y_train, cb_params_1000, categorical, x_valid, y_valid)

0:	test: 0.6122021	best: 0.6122021 (0)	total: 129ms	remaining: 2m 8s
10:	test: 0.7819388	best: 0.7819388 (10)	total: 1.28s	remaining: 1m 55s
20:	test: 0.7960711	best: 0.7996508 (14)	total: 2.43s	remaining: 1m 53s
30:	test: 0.7977973	best: 0.7996508 (14)	total: 3.59s	remaining: 1m 52s
40:	test: 0.8100633	best: 0.8100633 (40)	total: 4.75s	remaining: 1m 51s
50:	test: 0.8215422	best: 0.8215422 (50)	total: 5.89s	remaining: 1m 49s
60:	test: 0.8275642	best: 0.8275642 (60)	total: 7.07s	remaining: 1m 48s
70:	test: 0.8314172	best: 0.8318495 (68)	total: 8.22s	remaining: 1m 47s
80:	test: 0.8344387	best: 0.8345661 (79)	total: 9.36s	remaining: 1m 46s
90:	test: 0.8364492	best: 0.8364492 (90)	total: 10.5s	remaining: 1m 45s
100:	test: 0.8401116	best: 0.8401697 (98)	total: 11.7s	remaining: 1m 44s
110:	test: 0.8428115	best: 0.8428115 (110)	total: 12.9s	remaining: 1m 43s
120:	test: 0.8447825	best: 0.8451912 (119)	total: 14s	remaining: 1m 42s
130:	test: 0.8503582	best: 0.8503582 (130)	total: 15.2s	remaining: 1m 41s
140:	test: 0.8547833	best: 0.8547833 (140)	total: 16.4s	remaining: 1m 40s
150:	test: 0.8571767	best: 0.8571767 (150)	total: 17.6s	remaining: 1m 38s
160:	test: 0.8588300	best: 0.8588300 (160)	total: 18.8s	remaining: 1m 37s
170:	test: 0.8607359	best: 0.8607359 (170)	total: 19.9s	remaining: 1m 36s
180:	test: 0.8625749	best: 0.8626306 (179)	total: 21.1s	remaining: 1m 35s
190:	test: 0.8639186	best: 0.8639186 (190)	total: 22.3s	remaining: 1m 34s
200:	test: 0.8647726	best: 0.8648604 (199)	total: 23.5s	remaining: 1m 33s
210:	test: 0.8658924	best: 0.8658924 (210)	total: 24.6s	remaining: 1m 32s
220:	test: 0.8665845	best: 0.8665845 (220)	total: 25.8s	remaining: 1m 30s
230:	test: 0.8680845	best: 0.8680845 (230)	total: 27s	remaining: 1m 29s
240:	test: 0.8689590	best: 0.8689590 (240)	total: 28.2s	remaining: 1m 28s
250:	test: 0.8694362	best: 0.8696246 (247)	total: 29.3s	remaining: 1m 27s
260:	test: 0.8702745	best: 0.8702745 (260)	total: 30.5s	remaining: 1m 26s
270:	test: 0.8711681	best: 0.8711681 (270)	total: 31.7s	remaining: 1m 25s
280:	test: 0.8716585	best: 0.8716585 (280)	total: 32.9s	remaining: 1m 24s
290:	test: 0.8720741	best: 0.8720741 (290)	total: 34.1s	remaining: 1m 22s
300:	test: 0.8726175	best: 0.8726175 (300)	total: 35.2s	remaining: 1m 21s
310:	test: 0.8731290	best: 0.8731290 (310)	total: 36.4s	remaining: 1m 20s
320:	test: 0.8736641	best: 0.8736641 (320)	total: 37.5s	remaining: 1m 19s
330:	test: 0.8737435	best: 0.8737435 (330)	total: 38.7s	remaining: 1m 18s
340:	test: 0.8739516	best: 0.8739516 (340)	total: 39.8s	remaining: 1m 16s
350:	test: 0.8742249	best: 0.8742249 (350)	total: 41s	remaining: 1m 15s
360:	test: 0.8746716	best: 0.8746716 (360)	total: 42.2s	remaining: 1m 14s
370:	test: 0.8752250	best: 0.8752250 (370)	total: 43.3s	remaining: 1m 13s
380:	test: 0.8756155	best: 0.8756155 (380)	total: 44.5s	remaining: 1m 12s
390:	test: 0.8760788	best: 0.8760788 (390)	total: 45.7s	remaining: 1m 11s
400:	test: 0.8762855	best: 0.8762855 (400)	total: 46.8s	remaining: 1m 9s
410:	test: 0.8767904	best: 0.8767904 (410)	total: 48s	remaining: 1m 8s
420:	test: 0.8776448	best: 0.8776448 (420)	total: 49.2s	remaining: 1m 7s
430:	test: 0.8784905	best: 0.8784905 (430)	total: 50.4s	remaining: 1m 6s
440:	test: 0.8788296	best: 0.8788296 (440)	total: 51.6s	remaining: 1m 5s
450:	test: 0.8795425	best: 0.8795425 (450)	total: 52.8s	remaining: 1m 4s
460:	test: 0.8799302	best: 0.8799302 (460)	total: 53.9s	remaining: 1m 3s
470:	test: 0.8804214	best: 0.8804214 (470)	total: 55.1s	remaining: 1m 1s
480:	test: 0.8810931	best: 0.8810931 (480)	total: 57.5s	remaining: 1m 2s
490:	test: 0.8813659	best: 0.8813659 (490)	total: 1m 2s	remaining: 1m 4s
500:	test: 0.8816481	best: 0.8816481 (500)	total: 1m 6s	remaining: 1m 5s
510:	test: 0.8822721	best: 0.8822721 (510)	total: 1m 7s	remaining: 1m 4s
520:	test: 0.8826062	best: 0.8826062 (520)	total: 1m 8s	remaining: 1m 3s
530:	test: 0.8831255	best: 0.8831255 (530)	total: 1m 9s	remaining: 1m 1s
540:	test: 0.8841045	best: 0.8841045 (540)	total: 1m 10s	remaining: 1m
550:	test: 0.8843794	best: 0.8843794 (550)	total: 1m 12s	remaining: 58.7s
560:	test: 0.8848193	best: 0.8848193 (560)	total: 1m 13s	remaining: 57.3s
570:	test: 0.8852373	best: 0.8852373 (570)	total: 1m 14s	remaining: 55.9s
580:	test: 0.8854438	best: 0.8854438 (580)	total: 1m 15s	remaining: 54.5s
590:	test: 0.8858972	best: 0.8858972 (590)	total: 1m 19s	remaining: 54.7s
600:	test: 0.8861624	best: 0.8861624 (600)	total: 1m 23s	remaining: 55.6s
610:	test: 0.8867969	best: 0.8867969 (610)	total: 1m 26s	remaining: 55.2s
620:	test: 0.8871769	best: 0.8871769 (620)	total: 1m 27s	remaining: 53.7s
630:	test: 0.8875271	best: 0.8875271 (630)	total: 1m 29s	remaining: 52.1s
640:	test: 0.8881030	best: 0.8881030 (640)	total: 1m 30s	remaining: 50.5s
650:	test: 0.8888768	best: 0.8888768 (650)	total: 1m 31s	remaining: 49s
660:	test: 0.8894140	best: 0.8894140 (660)	total: 1m 32s	remaining: 47.5s
670:	test: 0.8897090	best: 0.8897090 (670)	total: 1m 33s	remaining: 46s
680:	test: 0.8901490	best: 0.8901490 (680)	total: 1m 35s	remaining: 44.5s
690:	test: 0.8904411	best: 0.8904411 (690)	total: 1m 36s	remaining: 43s
700:	test: 0.8907721	best: 0.8907954 (699)	total: 1m 37s	remaining: 41.5s
710:	test: 0.8909251	best: 0.8909251 (710)	total: 1m 38s	remaining: 40s
720:	test: 0.8912095	best: 0.8912095 (720)	total: 1m 39s	remaining: 38.6s
730:	test: 0.8915007	best: 0.8915007 (730)	total: 1m 40s	remaining: 37.1s
740:	test: 0.8918304	best: 0.8918304 (740)	total: 1m 42s	remaining: 35.7s
750:	test: 0.8920787	best: 0.8920787 (750)	total: 1m 43s	remaining: 34.2s
760:	test: 0.8922998	best: 0.8922998 (760)	total: 1m 44s	remaining: 32.8s
770:	test: 0.8925684	best: 0.8925684 (770)	total: 1m 45s	remaining: 31.3s
780:	test: 0.8926752	best: 0.8926752 (780)	total: 1m 46s	remaining: 29.9s
790:	test: 0.8931244	best: 0.8931244 (790)	total: 1m 47s	remaining: 28.5s
800:	test: 0.8934784	best: 0.8934784 (800)	total: 1m 49s	remaining: 27.1s
810:	test: 0.8936777	best: 0.8936777 (810)	total: 1m 50s	remaining: 25.7s
820:	test: 0.8938041	best: 0.8938041 (820)	total: 1m 51s	remaining: 24.3s
830:	test: 0.8941415	best: 0.8941415 (830)	total: 1m 52s	remaining: 22.9s
840:	test: 0.8944515	best: 0.8944515 (840)	total: 1m 53s	remaining: 21.5s
850:	test: 0.8947851	best: 0.8947851 (850)	total: 1m 54s	remaining: 20.1s
860:	test: 0.8950666	best: 0.8950666 (860)	total: 1m 56s	remaining: 18.8s
870:	test: 0.8956741	best: 0.8956741 (870)	total: 1m 57s	remaining: 17.4s
880:	test: 0.8961845	best: 0.8961845 (880)	total: 1m 58s	remaining: 16s
890:	test: 0.8966390	best: 0.8966390 (890)	total: 1m 59s	remaining: 14.6s
900:	test: 0.8967584	best: 0.8967584 (900)	total: 2m	remaining: 13.3s
910:	test: 0.8970664	best: 0.8970664 (910)	total: 2m 2s	remaining: 11.9s
920:	test: 0.8972902	best: 0.8972902 (920)	total: 2m 3s	remaining: 10.6s
930:	test: 0.8974920	best: 0.8974920 (930)	total: 2m 4s	remaining: 9.22s
940:	test: 0.8977713	best: 0.8977713 (940)	total: 2m 5s	remaining: 7.88s
950:	test: 0.8979249	best: 0.8979253 (948)	total: 2m 6s	remaining: 6.53s
960:	test: 0.8980594	best: 0.8980594 (960)	total: 2m 7s	remaining: 5.19s
970:	test: 0.8981959	best: 0.8981959 (970)	total: 2m 9s	remaining: 3.86s
980:	test: 0.8984427	best: 0.8984427 (980)	total: 2m 10s	remaining: 2.52s
990:	test: 0.8985299	best: 0.8985299 (990)	total: 2m 11s	remaining: 1.19s
999:	test: 0.8986503	best: 0.8986503 (999)	total: 2m 12s	remaining: 0us

bestTest = 0.8986503317
bestIteration = 999

In [75]:
X_ = x_valid.astype(str)

In [76]:
perm_importance = calculate_permutation_importance(
    estimator=model, metric=roc_auc_score, x_valid=X_, y_valid=y_valid
)

100%|████████████████████████████████████████| 401/401 [09:47<00:00,  1.47s/it]

In [179]:
perm_importance

C1               0.022738
V317             0.010076
R_emaildomain    0.010076
V45              0.010041
C12              0.008816
                   ...
V253            -0.000034
V255            -0.000034
V257            -0.000034
V189            -0.000034
V266            -0.001259
Length: 391, dtype: float64